:root {
	line-height: 1.5;
	font-weight: 400;

	--primary: #27272a;
	--secondary: #37373a;
	--tertiary: #555;
	--text: #fafafa;

	color: var(--text);
	background-color: var(--primary);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}